A new order has been placed!

Order Number: {{order->id}} 
Order Date:   {{order->ts|I18n::date_time|strip_tags}} 

{% if count ($data->downloads) > 0 %}
Digital Downloads:

{% foreach downloads as download %}
* {{download->name}} ({{download->download|basename}}):
  http://{{$_SERVER.HTTP_HOST}}/products/download/{{order->id}}/{{download->id}} 
{% end %}
{% end %}

Order Details:

{% foreach items as product %}
* {{product->label}} (${{product->price|products\Filter::money}})
  Quantity: {{product->quantity|products\Filter::padding (%s, 8, 'right')}} 
  Amount:   ${{product->price * $data->product->quantity|products\Filter::money}} 
{% end %}

Subtotal: ${{order->subtotal|products\Filter::money}} 
Shipping: ${{order->shipping|products\Filter::money}} 
Taxes:
{% foreach taxes as tax %}
* {{tax->tax_name}}: ${{tax->tax_amount|products\Filter::money}} 
{% end %}
Total: ${{order->total|products\Filter::money}} 

Contact Info:

{{payment->email}} 

{% if payment->shipping_name != '' %}
Ship to:
    {{payment->shipping_name}} 
    {{payment->shipping_address}} 
    {{payment->shipping_city}}, {{payment->shipping_state}} 
    {{payment->shipping_country}} {{payment->shipping_zip}}
{% end %}


{% if payment->billing_name != '' %}
Billed to:
    {{payment->billing_name}} 
    {{payment->billing_address}} 
    {{payment->billing_city}}, {{payment->billing_state}} 
    {{payment->billing_country}} {{payment->billing_zip}}
{% end %}
