Dear {{User::val ('name')}},

Thank you for your order!

Order Number: {{order->id}} 
Order Date:   {{order->ts|I18n::date_time|strip_tags}} 

{% if count ($data->downloads) > 0 %}
Click the following links to download your digital purchases.

{% foreach downloads as download %}
* {{download->name}} ({{download->download|basename}}):
  http://{{$_SERVER.HTTP_HOST}}/products/download/{{order->id}}/{{download->id}} 

{% end %}
{% end %}

Order Details:

{% foreach items as product %}
* {{product->label}} (${{product->price|products\Filter::money}})
  Quantity: {{product->quantity}} 
  Amount:   ${{product->price * $data->product->quantity|products\Filter::money}} 

{% end %}

Subtotal:   ${{order->subtotal|products\Filter::money}} 
Shipping:   ${{order->shipping|products\Filter::money}} 
Taxes:
{% foreach taxes as tax %}
* {{tax->tax_name}}:      ${{tax->tax_amount|products\Filter::money}} 
{% end %}
Total:      ${{order->total|products\Filter::money}} 

Thanks again for your order, and if you have any questions just reply to let us know!

Regards,

{{ conf('General', 'site_name') }}
