<p>
	<a href="/products/add">{"Add Product"}</a>
	&nbsp;|&nbsp;
	<a href="/products/categories">{"Categories"}</a>
	&nbsp;|&nbsp;
	<a href="/products/taxes">{"Taxes"}</a>
	&nbsp;|&nbsp;
	<a href="/products/settings">{"Settings"}</a>
</p>

<p>
<table width="100%">
	<tr>
		<th width="31%">{" Name "}</th>
		<th width="14%">{" Price "}</th>
		<th width="25%">{" Category "}</th>
		<th width="14%">{" Quantity "}</th>
		<th width="16%">&nbsp;</th>
	</tr>
{% foreach items %}
	<tr>
		<td>{{ loop_value->name }}</td>
		<td style="text-align: right">${{ loop_value->price|products\Filter::money }}</td>
		<td>{{ loop_value->category }}</td>
		<td style="text-align: right">{{ loop_value->quantity }}</td>
		<td style="text-align: right">
			<a	href="/products/edit?id={{ loop_value->id }}">{"Edit"}</a> |
			<a	href="/products/delete"
				data-id="{{ loop_value->id }}"
				onclick="return $.confirm_and_post (this, '{"Are you sure you want to delete this product?"}')">{"Delete"}</a>
		</td>
	</tr>
{% end %}
</table>
</p>

{! navigation/pager?style=text&url=[url]&total=[total]&count=[count]&limit=[limit] !}