<script id="tpl-checkout" type="text/html">
<table class="cart-summary">
	<tr>
		<td><strong>{"Subtotal"}</strong></td>
		<td class="cart-col-price">\{{money subtotal}}</td>
	</tr>
	<tr>
		<td><strong>{"Shipping"}</strong></td>
		<td class="cart-col-price">\{{#if shipping}}\{{money shipping}}\{{else}}{"FREE"}\{{/if}}</td>
	</tr>
\{{#each taxes}}
	<tr>
		<td><strong>\{{tax_name}}</strong></td>
		<td class="cart-col-price">\{{money tax_amount}}</td>
	</tr>
\{{/each}}
	<tr>
		<td><strong>{"Total"}</strong></td>
		<td class="cart-col-price">\{{money total}}</td>
	</tr>
</table>
</script>

<p><a href="/products/cart">{"View or modify your cart"}</a></p>

<h3>{"Order Summary"}</h3>

<div id="checkout-summary">

<table class="cart-summary">
	<tr>
		<td><strong>{"Subtotal"}</strong></td>
		<td class="cart-col-price">\{{money subtotal}}</td>
	</tr>
	<tr>
		<td><strong>{"Shipping"}</strong></td>
		<td class="cart-col-price">\{{#if shipping}}\{{money shipping}}\{{else}}{"FREE"}\{{/if}}</td>
	</tr>
\{{#each taxes}}
	<tr>
		<td><strong>\{{tax_name}}</strong></td>
		<td class="cart-col-price">\{{money tax_amount}}</td>
	</tr>
\{{/each}}
	<tr>
		<td><strong>{"Total"}</strong></td>
		<td class="cart-col-price">\{{money total}}</td>
	</tr>
</table>

</div>

{% if shipping_free_over %}
<p class="free-shipping">{"Free shipping on orders over"} ${{shipping_free_over|products\Filter::money}}</p>
{% end %}

<p>{! stripe/button
	?description=[payment_description]
	&amount=[total]
	&button=Pay+Now
	&redirect=/products/order/%d/[order->id]/completed
	&address=Yes
!}</p>

<script>
cart.init ({
	show_checkout: '#checkout-summary',
	tpl_checkout: '#tpl-checkout',
	taxes: {{taxes|json_encode}},
	max_shipping: {{max_shipping}},
	shipping_free_over: {{shipping_free_over}}
});
</script>
