{! filemanager/util/browser !}
{! admin/util/wysiwyg !}

<div class="form">
<form method="post" id="{{ _form }}">

<p>
	{"Name"}:<br />
	<input type="text" name="name" value="{{ name|quotes }}" size="50" />
	<span class="notice" id="name-notice">{"Please enter a name."}</span>
</p>

<div id="thumbnail-div">
	{"Photo"}:<br />
	<div class="thumbnail-wrapper">
		<div class="thumbnail" id="thumbnail-preview"
		{% if photo !== '' %}
			style="background-image: url('{{photo}}')"
		{% end %}
		></div>
	</div>
	<input type="hidden" name="photo" id="thumbnail" size="40" value="{{ photo|quotes }}" />
	<input type="submit" id="thumbnail-browse" value="{"Choose"}" />
</div>

<p>
	{"Price"}:<br />
	$<input type="text" name="price" value="{{ price|quotes }}" />
	<span class="notice" id="price-notice">{"Please enter a price."}</span>
</p>

<p>
	{"Category"}:<br />
	<select name="category">
		<option value="">- select -</option>
{% for _key in _categories %}
		<option value="{{_key|quotes}}"{% if _key == $data->category %} selected{% end %}>{{_key}}</option>
{% end %}
	</select>
	<span class="notice" id="category-notice">{"Please choose a category."}</span>
</p>

<p>
	{"Description"}:<br />
	<textarea name="description" cols="60" rows="4">{{ description }}</textarea>
	<span class="notice" id="description-notice">{"Please enter a description."}</span>
</p>

<p>{"Details"}:<br />
<textarea name="details" id="webpage-body" cols="90" rows="28">{{ details }}</textarea></p>

<p>
	{"Digital download"}:<br />
	<input type="text" name="download" id="download" value="{{ download|quotes }}" size="40" />
	<input type="submit" id="download-browse" value="{"Choose"}" />
	<span class="notice" id="download-notice">{"Please enter a download."}</span>
</p>

<p>
	{"Quantity (-1 for unlimited)"}:<br />
	<input type="text" name="quantity" value="{{ quantity|quotes }}" size="10" />
	<span class="notice" id="quantity-notice">{"Please enter a quantity."}</span>
</p>

<p>
	{"Requires mailing address"}:<br />
	<select name="address">
		<option value="0"{% if address == 0 %} selected{% end %}>{"No"}</option>
		<option value="1"{% if address == 1 %} selected{% end %}>{"Yes"}</option>
	</select>
</p>

<p>
	{"Taxes"}: <span class="notice" id="taxes-notice">{"Please choose a tax."}</span>
{% for _key in _taxes %}
	<br />
	<label>
		<input type="checkbox" name="taxes[]" value="{{_key|quotes}}"
		{% if in_array ($data->_key, $data->taxes) %} checked{% end %}
		/> {{_key}}
	</label>
{% end %}
</p>

<p>
	<input type="submit" value="{"Save Product"}" />&nbsp;
	<a href="javascript:history.go(-1)" onclick="return confirm ('{"Are you sure you want to cancel and lose any changes?"}')">{"Cancel"}</a>
</p>

</form>
</div>

<style>
#{{_form}} {
	position: relative;
}
#thumbnail-div {
	position: absolute;
	top: 0;
	right: 0;
	width: 150px;
}
.thumbnail-wrapper {
	background-color: #ccc;
	position: relative;
	margin: 0;
	padding: 0;
	padding-bottom: 66%;
	width: 100%;
	height: 0;
	margin-bottom: 5px;
}
.thumbnail,
.thumbnail-preview {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(/apps/blog/css/default.jpg);
	background-position: 50% 50%;
	background-size: cover;
}
</style>

<script>
$(function () {
	$('#thumbnail-browse').click (function (e) {
		e.preventDefault ();
		$.filebrowser ({
			allowed: ['jpg', 'jpeg', 'png', 'gif'],
			set_value: '#thumbnail',
			title: "{"Choose an image"}",
			thumbs: true,
			callback: function (file) {
				$('#thumbnail-preview').css ('background-image', 'url(\'' + encodeURI (file) + '\')');
			}
		});
	});

	$('#download-browse').click (function (e) {
		e.preventDefault ();
		$.filebrowser ({
			set_value: '#download'
		});
	});
});
</script>
