<div class="products">
{% foreach products as product %}

	{% if product->category != $data->category %}
		{% if category != '' %}
	</div>
		{% end %}
	<h2>{{product->category}}</h2>
	<div class="product-list">
		{{category=$data->product->category}}
	{% end %}

		<div class="product">
			<h3 class="product-header">
				<span class="product-name">{{product->name}}</span>
				<span class="product-price">${{product->price|products\Filter::money}}</span>
			</h3>
			{! stripe/button
				?description=[product->payment_description]
				&amount=[product->total]
				&button=Buy
				&redirect=/products/order/%d/[product->id]/completed
				&address=[product->address]
			!}
			{% if product->description != '' %}
				<span class="product-description">{{product->description}}</span>
			{% end %}
		</div>

{% end %}
	</div>
</div>
