{% if clear_cart %}
	{% if invoice %}
		<p id="order-confirmed"><strong>{"Your order has been received."}</strong></p>
	{% else %}
		<p id="order-confirmed"><strong>{"Your order has been confirmed."}</strong></p>
	{% end %}

	<script>
	cart.init ({
		clear: true
	});
	</script>
{% end %}

<p id="order-status">{"Order Status"}: <strong>{{order->status|products\Order::statuses}}</strong></p>

<p id="order-date">{"Order Date"}: {{order->ts|I18n::date_time}}</p>

<p>
<table class="order-table" style="width: 100%">
	<tr>
		<th>{"Description"}</th>
		<th style="text-align: right">{"Price"}</th>
		<th style="text-align: right">{"Quantity"}</th>
		<th style="text-align: right">{"Amount"}</th>
	</tr>
{% foreach items as product %}
	<tr>
		<td>{{product->label}}</th>
		<td style="text-align: right">${{product->price|products\Filter::money}}</td>
		<td style="text-align: right">{{product->quantity}}</td>
		<td style="text-align: right">${{product->price * $data->product->quantity|products\Filter::money}}</td>
	</tr>
{% end %}
	<tr>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th style="text-align: right">{"Subtotal"}</th>
		<td style="text-align: right">${{order->subtotal|products\Filter::money}}</td>
	</tr>
	<tr>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th style="text-align: right">{"Shipping"}</th>
		<td style="text-align: right">${{order->shipping|products\Filter::money}}</td>
	</tr>
{% foreach taxes as tax %}
	<tr>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th style="text-align: right">{{tax->tax_name}}</th>
		<td style="text-align: right">${{tax->tax_amount|products\Filter::money}}</td>
{% end %}
	<tr>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
		<th style="text-align: right">{"Total"}</th>
		<td style="text-align: right">${{order->total|products\Filter::money}}</td>
	</tr>
</table>
</p>

{% if count ($data->downloads) > 0 %}
<div class="products-downloads">
<h3>{"Digital downloads"}</h3>
<ul>
	{% foreach downloads as download %}
	<li><a href="/products/download/{{order->id}}/{{download->id}}">{{download->name}} ({{download->download|basename}})</a></li>
	{% end %}
</ul>
</div>
{% end %}
