<div class="form">

<form method="post" id="{{_form}}">

<p>{"Email order notifications to"}:<br />
<input type="email" name="notify" size="30" value="{{ notify|quotes }}" />
</p>

<p>{"Products page title"}:<br />
<input type="text" name="title" size="40" value="{{ title|quotes }}" />
<span class="notice" id="title-notice">{"You must enter an products page title."}</span></p>

<p>{"Products page layout"}:<br />
<select name="layout">
{% foreach layouts %}
	<option value="{{ loop_value }}"{% if loop_value == $data->layout %} selected{% end %}>{{ loop_value|ucfirst }}</option>
{% end %}
</select></p>

<p>{"Payment handler"}:<br />
<select name="payment_handler">
	<option value="">{"None"}</option>
	{% foreach payment_handlers %}
	<option value="{{loop_index}}"{% if payment_handler == $data->loop_index %} selected{% end %}>{{loop_value|__}}</option>
	{% end %}
</select>
</p>

<p>
	{"Use the web server's built-in file sending for faster downloads."}<br />
	<em>{"Note: Requires the chosen web server extension to be enabled."}</em><br />
	<select name="xsendfile">
		<option value=""{% if xsendfile == '' %} selected{% end %}>{"Default (PHP)"}</option>
		<option value="lighttpd"{% if xsendfile == 'lighttpd' %} selected{% end %}>Apache mod_sendfile / Lighttpd</option>
		<option value="nginx"{% if xsendfile == 'nginx' %} selected{% end %}>Nginx XSendFile</option>
	</select>
</p>

<p>
	<input type="submit" value="{"Save Settings"}" />
	&nbsp;
	<a href="/products/admin" onclick="return confirm ('{"Are you sure you want to cancel and lose any changes?"}')">{"Cancel"}</a>
</p>

</form>

</div>
