<div class="form">
<form method="post" id="{{ _form }}">

<p>
	{"Name"}:<br />
	<input type="text" name="name" value="{{ name|quotes }}" size="40" />
	<span class="notice" id="name-notice">{"Please enter a name."}</span>
</p>

<p>
	{"Percent"}:<br />
	<input type="text" name="percent" value="{{ percent|quotes }}" />%
	<span class="notice" id="percent-notice">{"Please enter a percent."}</span>
</p>

<p>
	{"Charge on shipping"}:<br />
	<select name="charge_on_shipping">
		<option value="0"{% if ! charge_on_shipping %} selected{% end %}>{"No"}</option>
		<option value="1"{% if charge_on_shipping %} selected{% end %}>{"Yes"}</option>
	</select>
</p>

<p><input type="submit" value="{"Save Tax"}" /></p>

</form>
</div>